<div>
    <h2 data-translate="grainAdminApp.market.home.title">Market</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <ui-select ng-model="vm.station" on-select="vm.onSelectStation()" name="station" id="station">
                    <ui-select-match allow-clear placeholder="Please select target station">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices
                        repeat="station as station in vm.stations"
                        refresh="vm.refreshStationSuggestions($select.search)"
                        refresh-delay="200">
                        <div ng-bind-html="station.name | highlight: $select.search"></div>
                        <small>
                            <span ng-bind-html="''+ station.code | highlight: $select.search"></span>
                            {{station.districtName}}, {{station.regionName}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-8 no-padding-right">
                <button class="btn btn-primary" ng-click="vm.exportToHTML(vm.station.code)">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="hidden-xs" data-translate="grainAdminApp.market.home.exportToHTML">
                        Create new Region
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="vm.currentBidType == 'SELL' ? 'active' : ''">
            <a ng-click="vm.changeBidType('SELL')">Предложение</a>
        </li>
        <li role="presentation"
            ng-class="vm.currentBidType == 'BUY' ? 'active' : ''"
            ng-click="vm.changeBidType('BUY')">
            <a>Закупка</a>
        </li>
    </ul>
    <br />
    <div id="market-table" ng-bind-html="vm.marketTable">
    </div>
</div>
