<div>
    <h2 data-translate="grainAdminApp.market.home.title">Market</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <ui-select ng-model="vm.station" on-select="vm.onSelectStation()" name="station" id="station">
                    <ui-select-match allow-clear placeholder="Please select target station">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices
                        repeat="station as station in vm.stations"
                        refresh="vm.refreshStationSuggestions($select.search)"
                        refresh-delay="200">
                        <div ng-bind-html="station.name | highlight: $select.search"></div>
                        <small>
                            <span ng-bind-html="''+ station.code | highlight: $select.search"></span>
                            {{station.districtName}}, {{station.regionName}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-8 no-padding-right">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="hidden-xs" data-translate="grainAdminApp.market.home.exportToPDF">
                        Create new Region
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <table width="100%" style="overflow: scroll;"
               ng-repeat="(qualityClass, bids) in vm.bids">
            <tr>
                <td>
                    <table border="0" width="700px" cellpadding="0" cellspacing="0"
                           style="width: 700px; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial;">
                        <col width="146px">
                        <col width="122px">
                        <col width="139px">
                        <col width="59px">
                        <col width="61px">
                        <col width="44px">
                        <col width="128px">

                        <tr style="height: 23px; font-size: 11px; color: white; background-color: #94aa72;">
                            <td style="padding-left: 10px;" data-translate="grainAdminApp.bid.elevator">Размещение</td>
                            <td style="padding-left: 10px; -webkit-text-size-adjust:none"
                                data-translate="grainAdminApp.bid.agent">Агент
                            </td>
                            <td style="padding-left: 10px; -webkit-text-size-adjust:none"
                                data-translate="grainAdminApp.bid.qualityParameters">Качество
                            </td>
                            <td style="padding-left: 10px; -webkit-text-size-adjust:none"
                                data-translate="grainAdminApp.bid.volume">Объем, т
                            </td>
                            <td style="padding-left: 10px; -webkit-text-size-adjust:none"
                                data-translate="grainAdminApp.bid.price">Цена р/т
                            </td>
                            <td></td>
                            <td style="padding-left: 8px; padding-right: 8px; -webkit-text-size-adjust:none"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-repeat="bid in bids track by bid.id">
                <td>
                    <table border="0" width="700px" cellpadding="0" cellspacing="0"
                           style="width: 700px; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial;"
                           ng-style="{'background-color': ($index % 2 !== 0 ? '#edf2e9' : '#f4f4f4')}">
                        <col width="146px">
                        <col width="122px">
                        <col width="139px">
                        <col width="59px">
                        <col width="61px">
                        <col width="44px">
                        <col width="128px">
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none"
                                ng-init="elevator = bid.elevator">
                        <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                            <strong>{{vm.splitFirstLetter(elevator.districtName)[0]}}</strong>{{vm.splitFirstLetter(elevator.districtName)[1]}}
                        </span>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <a style="color: #315597; -webkit-text-size-adjust:none" ng-click="vm.showCardDialog({
                            name: bid.agentName,
                            card: bid.agentCard,
                            organisationType: {
                                type: bid.agentOrganisationType
                            }
                        })">
                                    {{bid.agentName + " " + bid.agentOrganisationType}}
                                </a>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <a ui-sref="bid.quality-passport({id:bid.agentId, bidId: bid.id})" style="color: #315597">карта анализа</a>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                {{bid.volume}}
                            </td>
                            <td style="padding-left: 10px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span ng-if="vm.station.code && bid.transportationPricePrice">{{vm.getCPTPrice(bid)}}</span>
                                <span ng-if="!vm.station.code">{{vm.getFCAPrice(bid)}}</span>
                            </td>
                            <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="display: block; font-size: 10px; line-height: 17px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                              data-translate="{{'grainAdminApp.NDS.' + bid.nds}}">
                            {{bid.nds}}
                        </span>
                            </td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span style="font-size: 10px; -webkit-text-size-adjust:none" ng-if="vm.station.code && bid.transportationPricePrice">СРТ с доставкой ж/д до</span>
                                <span style="font-size: 10px; -webkit-text-size-adjust:none" ng-if="!vm.station.code">FCA с погрузкой ж/д на</span>
                            </td>
                        </tr>
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                {{elevator.regionName}}
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                        <span style="font-size: 10px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            тел: {{bid.agentContactPhone}}
                        </span>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                        <span style="font-size: 11px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                              data-translate="{{'grainAdminApp.QualityClass.' + bid.qualityClass}}">
                            {{bid.qualityClass}}
                        </span>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="font-size: 10px; -webkit-text-size-adjust:none" ng-if="vm.station.code && bid.transportationPricePrice">
                            ст. {{vm.station.name}}
                        </span>
                                <span style="font-size: 10px; -webkit-text-size-adjust:none" ng-if="!vm.station.code">
                            ст. {{bid.elevator.stationName}}
                        </span>
                            </td>
                        </tr>
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                ст. {{elevator.stationName}}
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <a href="mailto:{{bid.agentContactEmail}}" style="font-size: 10px; -webkit-text-size-adjust:none; color: #000000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{bid.agentContactEmail}}
                                </a>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial; font-size: 12px;">
                                    <col width="93px">
                                    <col width="35px">
                                    <tr ng-init="qualityParameter0 = bid.qualityParameters[0]">
                                        <td style="text-align: left; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter0.qualityParameterName}}</td>
                                        <td style="text-align: right; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter0.value}}{{qualityParameter0.qualityParameterUnit}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; font-size: 10px; line-height: 18px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                {{bid.price}}
                            </td>
                            <td style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span style="font-size: 10px; -webkit-text-size-adjust:none">EXW по переписи </span>
                            </td>
                        </tr>
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                {{elevator.stationCode}}
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial; font-size: 12px;">
                                    <col width="93px">
                                    <col width="35px">
                                    <tr ng-init="qualityParameter1 = bid.qualityParameters[1]">
                                        <td style="text-align: left; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter1.qualityParameterName}}</td>
                                        <td style="text-align: right; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter1.value}}{{qualityParameter1.qualityParameterUnit}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; font-size: 10px; line-height: 18px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                {{bid.elevator.servicePrices[0].price}}
                            </td>
                            <td style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span style="font-size: 10px; -webkit-text-size-adjust:none">покрузка ж/д </span>
                            </td>
                        </tr>
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <a style="color: #315597" ng-click="vm.showCardDialog(elevator)">
                                    {{elevator.name + " " + elevator.organisationType.type}}
                                </a>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial; font-size: 12px;">
                                    <col width="93px">
                                    <col width="35px">
                                    <tr ng-init="qualityParameter2 = bid.qualityParameters[2]">
                                        <td style="text-align: left; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter2.qualityParameterName}}</td>
                                        <td style="text-align: right; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter2.value}}{{qualityParameter2.qualityParameterUnit}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; font-size: 10px; line-height: 18px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span ng-if="bid.transportationPricePrice">
                            {{bid.transportationPricePrice}}
                        </span>
                            </td>
                            <td style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="font-size: 10px; -webkit-text-size-adjust:none"
                              ng-if="vm.station.code && bid.transportationPricePrice">
                            доставка ж/д (Русагротранс)
                        </span>
                            </td>
                        </tr>
                        <tr style="height: 18px; font-size: 12px; line-height: 16px; color: black; vertical-align: top; border-bottom: 3px solid #ffffff;">
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-text-size-adjust:none">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; table-layout:fixed; border-collapse: collapse; margin:0; padding:0; overflow: scroll; font-family: Arial; font-size: 12px;">
                                    <col width="93px">
                                    <col width="35px">
                                    <tr ng-init="qualityParameter3 = bid.qualityParameters[3]">
                                        <td style="text-align: left; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter3.qualityParameterName}}</td>
                                        <td style="text-align: right; line-height: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{qualityParameter3.value}}{{qualityParameter3.qualityParameterUnit}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; font-size: 10px; line-height: 18px; -webkit-text-size-adjust:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            </td>
                            <td style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
                            <td style="padding-left: 10px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
