<div>
    <h2 data-translate="grainAdminApp.partner.home.title">Partners</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partner.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="grainAdminApp.partner.home.createLabel">
                        Create new Partner
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'grainAdminApp.partner.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="name"><span data-translate="grainAdminApp.partner.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="shortName"><span data-translate="grainAdminApp.partner.shortName">Short Name</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="inn"><span data-translate="grainAdminApp.partner.inn">Inn</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="nds"><span data-translate="grainAdminApp.partner.nds">Nds</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="card"><span data-translate="grainAdminApp.partner.card">Card</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="organisationTypeType"><span data-translate="grainAdminApp.partner.organisationType">Organisation Type</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="regionName"><span data-translate="grainAdminApp.partner.region">Region</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="districtName"><span data-translate="grainAdminApp.partner.district">District</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="localityName"><span data-translate="grainAdminApp.partner.locality">Locality</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="stationCode"><span data-translate="grainAdminApp.partner.station">Station</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="ownerForName"><span data-translate="grainAdminApp.partner.ownerFor">Owner For</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="lastUpdate"><span data-translate="grainAdminApp.partner.lastUpdate">Last Update</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partner in vm.partners track by partner.id">
                    <!--<td><a ui-sref="partner-detail({id:partner.id})">{{partner.id}}</a></td>-->
                    <td><a ui-sref="partner-detail({id:partner.id})">{{partner.name + " " + partner.organisationTypeType}}</a></td>
                    <!--<td>{{partner.shortName}}</td>-->
                    <!--<td>{{partner.inn}}</td>-->
                    <!--<td data-translate="{{'grainAdminApp.NDS.' + partner.nds}}">{{partner.nds}}</td>-->
                    <!--<td>{{partner.card}}</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="organisation-type-detail({id:partner.organisationTypeId})">{{partner.organisationTypeType}}</a>-->
                    <!--</td>-->
                    <td>
                        <a ui-sref="region-detail({id:partner.regionId})">{{partner.regionName}}</a>
                    </td>
                    <td>
                        <a ui-sref="district-detail({id:partner.districtId})">{{partner.districtName}}</a>
                    </td>
                    <!--<td>-->
                        <!--<a ui-sref="locality-detail({id:partner.localityId})">{{partner.localityName}}</a>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="station-detail({id:partner.stationId})">{{partner.stationCode}}</a>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="partner-detail({id:partner.ownerForId})">{{partner.ownerForName}}</a>-->
                    <!--</td>-->
                    <td>{{partner.lastUpdate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partner-detail({id:partner.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner.edit({id:partner.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner.delete({id:partner.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
