<div>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{vm.partner.name}} {{vm.partner.organisationTypeType}}</h2>

            <h3>
                <small>Карта Контрагента</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <span class="glyphicon partner-dropdown" aria-hidden="true"
                  ng-class="vm.isPartnerDetailsOpened ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>

            <div class="partner partner-inline" ng-show="!vm.isPartnerDetailsOpened"
                 ng-click="vm.isPartnerDetailsOpened = true"
                 click-out="vm.isPartnerDetailsOpened = false">
                <ul>
                    <li ng-init="contact=vm.partner.contacts[0]">
                        <b>{{contact.personName}}</b> - {{contact.status}}
                        <br/>{{contact.phone ? contact.phone : 'no phone'}}; {{contact.emailEmail
                        ? contact.emailEmail : 'no email'}}; skype: {{contact.skype
                        ? contact.skype : 'no skype'}}
                    </li>
                </ul>
            </div>
            <div class="partner partner-outline" ng-show="vm.isPartnerDetailsOpened">
                <ul>
                    <li ng-repeat="contact in vm.partner.contacts">
                        <b>{{contact.personName}}</b> - {{contact.status}}
                        <br/>{{contact.phone ? contact.phone : 'no phone'}}; {{contact.emailEmail
                        ? contact.emailEmail : 'no email'}}; skype: {{contact.skype
                        ? contact.skype : 'no skype'}}
                    </li>
                </ul>
                <p>
                    {{vm.partner.organisationTypeType}} "{{vm.partner.shortName}}" <br/>
                    {{vm.partner.district}}, {{vm.partner.locality}} <br/>
                    ИНН: {{vm.partner.inn}} <br/>
                    Работают <span data-translate="{{'grainAdminApp.NDS.' + vm.partner.nds}}">{{vm.partner.nds}}</span>
                    <br/>
                    Сайт:
                </p>

                <p>
                    Родительская компания:<br/>
                    {{vm.partner.ownerForName}}
                </p>

                <p>Дочерние компании:</p>
                <ul>
                    <li ng-repeat="child in vm.partner.ownedBies">
                        {{child.organisationTypeType}} "{{child.shortName}}", {{vm.partner.district}},
                        {{vm.partner.locality}}
                    </li>
                </ul>

                <p>Станция размещения: {{vm.partner.stationName}}</p>

                <p ng-repeat="servicePrice in vm.partner.servicePrices">
                    {{servicePrice.serviceTypeName}}: {{servicePrice.price}} р/т
                </p>
            </div>
        </div>
        <div class="col-sm-3 btn-group">
            <button type="button" ui-sref="partner-detail.edit({id:vm.partner.id})" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Edit</span>
            </button>
            <button type="button" class="btn btn-primary" ui-sref="bid.addFor({partner: vm.partner})">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-md" data-translate="grainAdminApp.bid.home.createLabel">Add</span>
            </button>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="grainAdminApp.bid.elevator">Elevator</span></th>
                <th><span data-translate="grainAdminApp.bid.agent">Agent</span></th>
                <th><span data-translate="grainAdminApp.bid.qualityParameters">Quality</span></th>
                <th><span data-translate="grainAdminApp.bid.volume">Volume</span></th>
                <th><span data-translate="grainAdminApp.bid.price">Volume</span></th>
                <th><span data-translate="grainAdminApp.bid.creationDate">Creation Date</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bid in vm.bids track by bid.id">
                <td ng-init="elevator = bid.elevator">
                    {{elevator.district.name}}<br/>
                    {{elevator.region.name}}<br/>
                    {{elevator.locality.name}}<br/>
                    {{elevator.station.name}}<br/>
                    {{elevator.station.code}}<br/>
                    {{elevator.name + " " + elevator.organisationType.type}}
                </td>
                <td ng-init="contact = vm.getContact(bid)">
                    {{vm.partner.organisationTypeType + " " + vm.partner.name}}<br/>
                    <small>Тел: {{contact.phone}}</small><br/>
                    <small>{{contact.emailEmail}}</small>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12" data-translate="{{'grainAdminApp.QualityClass.' + bid.qualityClass}}">{{bid.qualityClass}}</div>
                    </div>
                    <div class="row" ng-repeat="qualityParameter in bid.qualityParameters">
                        <div class="col-sm-8">{{qualityParameter.qualityParameterName}}</div>
                        <div class="col-sm-4">{{qualityParameter.value}}{{qualityParameter.qualityParameterUnit}}</div>
                    </div>
                </td>
                <td>{{bid.volume}}</td>
                <td>
                    <div class="row">
                        <div class="col-sm-5">{{bid.price}}</div>
                        <div class="col-sm-7" data-translate="{{'grainAdminApp.NDS.' + bid.nds}}">{{bid.nds}}</div>
                    </div>
                </td>
                <td>{{bid.creationDate | date:medium}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="partner-detail({id:partner.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ui-sref="partner.edit({id:partner.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ui-sref="partner.delete({id:partner.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
