<form name="editForm" role="form" novalidate angular-validator angular-validator-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartnerLabel" data-translate="grainAdminApp.partner.home.createOrEditLabel">Create
            or edit a Partner</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row row-gray">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.shortName" for="field_shortName">Short
                        Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                           ng-model="vm.partner.shortName"
                        />
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.organisationType">
                        Organisation Type
                    </label>

                    <div>
                        <label class="radio-inline" ng-repeat="organisationType in vm.organisationtypes">
                            <input type="radio" name="organisationType"
                                   ng-model="vm.partner.organisationTypeId"
                                   ng-value="organisationType.id">{{organisationType.type}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gray">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.name"
                           for="field_fullname">Name</label>
                    <input type="text" class="form-control" name="fullname" id="field_fullname"
                           ng-model="vm.partner.name"
                           validate-on="dirty"
                           required-message="'{{'entity.validation.required' | translate}}'"
                           required/>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.inn" for="field_inn">Inn</label>
                    <input type="text" class="form-control" name="inn" id="field_inn"
                           ng-model="vm.partner.inn"
                           validate-on="dirty"
                           required-message="'{{'entity.validation.required' | translate}}'"
                           ui-mask="9999999999?9?9"
                           model-view-value="true"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="space"/>
                           <!--required/>-->
                </div>
            </div>
        </div>
        <div class="row row-gray">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.site"
                           for="field_site">Site</label>
                    <input class="form-control" name="site" ng-model="vm.partner.site" id="field_site"/>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.nds">Nds</label>

                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="nds" ng-model="vm.selectedNDS.INCLUDED">
                            <span data-translate="grainAdminApp.NDS.INCLUDED">INCLUDED</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="nds" ng-model="vm.selectedNDS.EXCLUDED">
                            <span data-translate="grainAdminApp.NDS.EXCLUDED">EXCLUDED</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gray">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.region" for="field_region">Region</label>
                    <ui-select ng-model="vm.partner.regionId">
                        <ui-select-match allow-clear>
                            {{$select.selected.name || vm.partner.regionName}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="region.id as region in vm.regions"
                            refresh="vm.refreshRegionSuggestions($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="region.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden" class="form-control" id="field_region" name="region"
                           ng-model="vm.partner.regionId"/>
                           <!--required-message="'{{'entity.validation.required' | translate}}'"-->
                           <!--required />-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.district" for="field_district">District</label>
                    <ui-select ng-model="vm.partner.districtId">
                        <ui-select-match allow-clear>
                            {{$select.selected.name || vm.partner.districtName}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="district.id as district in vm.districts"
                            refresh="vm.refreshDistrictSuggestions($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="district.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden" class="form-control" id="field_district" name="district"
                           ng-model="vm.partner.districtId"/>
                           <!--required-message="'{{'entity.validation.required' | translate}}'"-->
                           <!--required />-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.locality" for="field_locality">Locality</label>
                    <ui-select ng-model="vm.partner.localityId">
                        <ui-select-match allow-clear>
                            {{$select.selected.name || vm.partner.localityName}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="locality.id as locality in vm.localities"
                            refresh="vm.refreshLocalitySuggestions($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="locality.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden" class="form-control" id="field_locality" name="locality"
                           ng-model="vm.partner.localityId"/>
                           <!--required-message="'{{'entity.validation.required' | translate}}'"-->
                           <!--required />-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" ng-model="vm.doShowParent"
                               ng-disabled="::vm.partner.id !== null && vm.partner.ownerForId">
                        <strong data-translate="grainAdminApp.partner.ownerFor">Owner For</strong>
                    </label>
                </div>
                <div class="form-group" ng-if="vm.doShowParent">
                    <input class="form-control" autocomplete="off" id="field_ownerFor" name="ownerFor"
                           ng-if="vm.partners.$resolved"
                           ng-model="vm.partner.ownerForId"
                           uib-typeahead="partner.id as partner.name for partner in vm.getPartnersSuggestions() | filter:$viewValue"
                           typeahead-editable="false"
                           typeahead-input-formatter="vm.formatSelection($model, vm.partners, 'name')"
                        >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" ng-model="vm.doShowChildren"
                               ng-disabled="::vm.partner.id !== null && vm.partner.ownedBies && vm.partner.ownedBies.length > 0">
                        <strong data-translate="grainAdminApp.partner.ownedBy">Owned by</strong>
                    </label>
                </div>
                <div class="form-group" ng-if="!vm.doShowChildren">
                    <label><!-- just spacing --></label>
                </div>
                <div class="form-group" ng-repeat="child in vm.children" ng-if="vm.doShowChildren">
                    <input class="form-control" autocomplete="off" ng-if="vm.partners.$resolved"
                           ng-model="child.obj"
                           uib-typeahead="partner as partner.name for partner in vm.getPartnersSuggestions() | filter: $viewValue"
                           typeahead-editable="false"
                           typeahead-input-formatter="vm.formatSelection($model.id, vm.partners, 'name')"
                           typeahead-on-select="vm.onSelectChild($model)"
                        >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10 text-right">
                <button type="button" ng-if="vm.isAddChild && vm.doShowChildren" class="btn btn-info btn-sm text-right"
                        ng-click="vm.addChild()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs hidden-sm" data-translate="entity.action.add">Add</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.station">Station</label>
                    <ui-select ng-model="vm.partner.stationId" name="station">
                        <ui-select-match allow-clear>
                            {{$select.selected.name || vm.partner.stationName}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="station.id as station in vm.stations"
                            refresh="vm.refreshStationSuggestions($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="station.name | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+ station.code | highlight: $select.search"></span>
                                {{station.districtName}}, {{station.regionName}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.serviceType">Service Type</label>
                    <select class="form-control"
                            name="serviceType"
                            ng-model="vm.partner.servicePrices[0].serviceTypeId"
                            ng-options="servicePriceType.id as servicePriceType.name for servicePriceType in vm.servicePriceTypes"></select>
                            <!--required></select>-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" data-translate="grainAdminApp.partner.servicePrice">Service
                        Price</label>
                    <input type="number" class="form-control" id="field_servicePriceValue"
                           name="servicePriceValue"
                           ng-model="vm.partner.servicePrices[0].price" min="1" placeholder="0"><!-- ng-required="vm.partner.stationId">-->

                </div>
                <div class="form-group">
                    <label><!-- just spacing --></label>
                </div>
            </div>
        </div>
        <div ng-repeat="contact in vm.partner.contacts">
            <div class="row row-gray">
                <div class="col-sm-3 form-group">
                    <label class="control-label" for="field_contactPhone{{::$index}}"
                           data-translate="grainAdminApp.contact.phone">Phone</label>
                    {{contactNum}}
                    <input class="form-control" id="field_contactPhone{{::$index}}" name="contactPhone{{::$index}}"
                           ng-model="contact.phone"
                           validate-on="blur"
                           required-message="'{{'grainAdminApp.contact.validations.fieldShouldBeFilled' | translate : '{field: \'Телефон\'}'}}'"
                           ui-mask="+7(999) 999-9999"
                           model-view-value="true"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           ui-options="{clearOnBlur: false}">
                           <!--required>-->
                </div>
                <div class="col-sm-3 form-group">
                    <label class="control-label" for="field_contactStatus{{::$index}}"
                           data-translate="grainAdminApp.contact.status">Status</label>
                    <input class="form-control" id="field_contactStatus{{::$index}}" name="contactStatus{{::$index}}"
                           ng-model="contact.status"
                        >
                </div>
                <div class="col-sm-6 form-group">
                    <label class="control-label" for="field_contactName{{::$index}}"
                           data-translate="grainAdminApp.contact.personName">Person
                        Name</label>
                    <input class="form-control" id="field_contactName{{::$index}}" name="contactName{{::$index}}"
                           ng-model="contact.personName"
                           validate-on="dirty">
                           <!--required-message="'{{'grainAdminApp.contact.validations.fieldShouldBeFilled' | translate : '{field: \'ФИО/Наименование\'}'}}'"-->
                           <!--required>-->
                </div>
            </div>
            <div class="row row-gray">
                <div class="col-sm-3 form-group">
                    <label class="control-label" for="field_contactEmail{{::$index}}"
                           data-translate="grainAdminApp.contact.email">Email</label>
                    <input class="form-control" id="field_contactEmail{{::$index}}" name="contactEmail{{::$index}}"
                           ng-model="contact.emailEmail"
                           type="email"
                           validate-on="blur"
                           required-message="'{{'grainAdminApp.contact.validations.fieldShouldBeFilled' | translate : '{field: \'Email\'}'}}'"
                           required>
                </div>
                <div class="col-sm-3 form-group">
                    <label class="control-label" for="field_contactSkype{{::$index}}"
                           data-translate="grainAdminApp.contact.skype">Skype</label>
                    <input class="form-control" id="field_contactSkype{{::$index}}" name="contactSkype{{::$index}}"
                           ng-model="contact.skype"
                        >
                </div>
                <div class="col-sm-2 col-sm-offset-4 form-group">
                    <!--just to align-->
                    <label class="control-label"><span>&nbsp;</span></label>
                    <button type="button" class="btn btn-info btn-sm form-control"
                            ng-if="vm.partner.contacts !== null && vm.partner.contacts.length === 1"
                            ng-click="vm.addContact()">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.add">Add</span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm form-control"
                            ng-if="$index > 0 && (vm.partner.contacts === null || vm.partner.contacts.length > 1)"
                            ng-click="vm.deleteContact()">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label><!-- just spacing --></label>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.card" for="field_card">Card</label>
            <textarea type="text" class="form-control" style="height: 150px" name="card" id="field_card"
                      ng-model="vm.partner.card"
                ></textarea>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">-->
        <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
