<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartnerLabel" data-translate="grainAdminApp.partner.home.createOrEditLabel">Create
            or edit a Partner</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.organisationType"
                   for="field_organisationType">Organisation
                Type</label>
            <select class="form-control" id="field_organisationType" name="organisationType"
                    ng-model="vm.partner.organisationTypeId"
                    ng-options="organisationType.id as organisationType.type for organisationType in vm.organisationtypes">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.partner.name"
                   required/>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.shortName" for="field_shortName">Short
                Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                   ng-model="vm.partner.shortName"
                />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.inn" for="field_inn">Inn</label>
            <input type="text" class="form-control" name="inn" id="field_inn"
                   ng-model="vm.partner.inn"
                   required/>

            <div ng-show="editForm.inn.$invalid">
                <p class="help-block"
                   ng-show="editForm.inn.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.nds" for="field_nds">Nds</label>
            <select class="form-control" name="nds" ng-model="vm.partner.nds" id="field_nds">
                <option value="INCLUDED" data-translate="grainAdminApp.NDS.INCLUDED">INCLUDED</option>
                <option value="EXCLUDED" data-translate="grainAdminApp.NDS.EXCLUDED">EXCLUDED</option>
                <option value="BOTH" data-translate="grainAdminApp.NDS.BOTH">BOTH</option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="grainAdminApp.partner.region" for="field_region">Region</label>
            <input class="form-control" id="field_region" name="region" ng-if="vm.regions.$resolved"
                   ng-model="vm.partner.regionId"
                   uib-typeahead="region.id as region.name for region in vm.regions | filter:$viewValue"
                   typeahead-editable="false"
                   typeahead-input-formatter="vm.formatSelection($model, vm.regions, 'name')"
                >
        </div>
        <div class="form-group">
            <label data-translate="grainAdminApp.partner.district" for="field_district">District</label>
            <input class="form-control" id="field_district" name="district" ng-if="vm.districts.$resolved"
                   ng-model="vm.partner.districtId"
                   uib-typeahead="district.id as district.name for district in vm.districts | filter:$viewValue"
                   typeahead-editable="false"
                   typeahead-input-formatter="vm.formatSelection($model, vm.districts, 'name')"
                >
        </div>
        <div class="form-group">
            <label data-translate="grainAdminApp.partner.locality" for="field_locality">Locality</label>
            <input class="form-control" id="field_locality" name="locality" ng-if="vm.localities.$resolved"
                   ng-model="vm.partner.localityId"
                   uib-typeahead="locality.id as locality.name for locality in vm.localities | filter:$viewValue"
                   typeahead-editable="false"
                   typeahead-input-formatter="vm.formatSelection($model, vm.localities, 'name')"
                >
        </div>

        <div class="form-group">
            <label data-translate="grainAdminApp.partner.ownerFor" for="field_ownerFor">Owner For</label>
            <input class="form-control" autocomplete="off" id="field_ownerFor" name="ownerFor"
                   ng-if="vm.partners.$resolved"
                   ng-model="vm.partner.ownerForId"
                   uib-typeahead="partner.id as partner.name for partner in vm.getPartnersSuggestions() | filter:$viewValue"
                   typeahead-editable="false"
                   typeahead-input-formatter="vm.formatSelection($model, vm.partners, 'name')"
                >
        </div>


        <div class="form-group">
            <label data-translate="grainAdminApp.partner.ownedBy">Owned by</label>
            <ol>
                <li ng-repeat="partner in vm.partner.ownedBies track by partner.id">
                    <span><a ui-sref="partner-detail({id:partner.id})" target="_blank">{{partner.name + " " +
                        partner.organisationTypeType}}</a></span>
                    <span class="pull-right">{{partner.regionName}}, {{partner.districtName}}</span>
                </li>
            </ol>
            <button ng-if="!vm.isAddChild" class="btn btn-info btn-sm" ng-click="vm.isAddChild = true">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.add">Add</span>
            </button>
            <input class="form-control" autocomplete="off" ng-if="vm.partners.$resolved && vm.isAddChild" required
                   ng-model="vm.selectedChild"
                   uib-typeahead="partner as partner.name for partner in vm.getPartnersSuggestions() | filter:$viewValue"
                   typeahead-editable="false"
                   typeahead-input-formatter="vm.formatSelection($model.id, vm.partners, 'name')"
                >
            <button type="button" ng-if="vm.isAddChild" class="btn btn-default" data-dismiss="modal"
                    ng-click="vm.cancelAddChild()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" ng-if="vm.isAddChild" class="btn btn-info btn-sm" ng-click="vm.addChild()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.save">Save</span>
            </button>
        </div>

        <div class="form-group">
            <label data-translate="grainAdminApp.partner.station" for="field_station">Station</label>
            <select class="form-control" id="field_station" name="station" ng-model="vm.partner.stationId"
                    ng-options="station.id as station.code for station in vm.stations">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="grainAdminApp.partner.servicePrices">Service Prices</label>
            <ol>
                <li ng-repeat="servicePrice in vm.partner.servicePrices">
                    <span><b>{{servicePrice.serviceTypeName}}</b> - {{servicePrice.price}} &#x20bd;</span>
                </li>
            </ol>
            <button ng-if="!vm.isAddServicePrice" class="btn btn-info btn-sm" ng-click="vm.isAddServicePrice = true">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.add">Add</span>
            </button>

            <div ng-if="vm.servicePriceTypes.$resolved && vm.isAddServicePrice" class="row">
                <div class="col-xs-3">
                    <select class="form-control" id="field_servicePriceType" name="servicePricesType"
                            ng-model="vm.selectedServicePriceType"
                            ng-options="servicePriceType as servicePriceType.name for servicePriceType in vm.servicePriceTypes"
                            required></select>
                </div>
                <div class="col-xs-2">
                    <input type="number" class="form-control" id="field_servicePriceValue" name="servicePriceValue"
                           ng-model="vm.selectedservicePriceValue" min="1" placeholder="0" required>
                </div>
            </div>
            <button type="button" ng-if="vm.isAddServicePrice" class="btn btn-default" data-dismiss="modal"
                    ng-click="vm.cancelAddServicePrice()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" ng-if="vm.isAddServicePrice" class="btn btn-info btn-sm"
                    ng-click="vm.addServicePrice()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.save">Save</span>
            </button>
        </div>

        <div class="form-group">
            <label data-translate="grainAdminApp.partner.contacts">Contacts</label>
            <ol>
                <li ng-repeat="contact in vm.partner.contacts">
                    <span><b>{{contact.personName}}</b> -
                        {{contact.phone ? contact.phone : 'no phone'}} /
                        skype: {{contact.skype ? contact.skype : '-'}} /
                        {{contact.emailEmail ? contact.emailEmail : 'no email'}}</span>
                    <span class="pull-right">{{contact.status}}</span>
                </li>
            </ol>
            <button ng-if="!vm.isAddContact" class="btn btn-info btn-sm" ng-click="vm.isAddContact = true">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.add">Add</span>
            </button>
            <div class="form-group" ng-if="vm.contacts.$resolved && vm.isAddContact">
                <label data-translate="grainAdminApp.contact.detail.newContactTitle">New Contact</label>

                <div class="row">
                    <div class="col-xs-3">
                        <label for="field_contactName" data-translate="grainAdminApp.contact.personName">Person
                            Name</label>
                        <input class="form-control" id="field_contactName" name="contactName"
                               ng-model="vm.selectedContact.personName"
                               required>
                    </div>
                    <div class="col-xs-3">
                        <label for="field_contactStatus" data-translate="grainAdminApp.contact.status">Status</label>
                        <input class="form-control" id="field_contactStatus" name="contactStatus"
                               ng-model="vm.selectedContact.status"
                               required>
                    </div>
                    <div class="col-xs-3">
                        <label for="field_contactPhone" data-translate="grainAdminApp.contact.phone">Phone</label>
                        <input class="form-control" id="field_contactPhone" name="contactPhone"
                               ng-model="vm.selectedContact.phone"
                               required>
                    </div>
                    <div class="col-xs-3">
                        <label for="field_contactSkype" data-translate="grainAdminApp.contact.skype">Skype</label>
                        <input class="form-control" id="field_contactSkype" name="contactSkype"
                               ng-model="vm.selectedContact.skype"
                               required>
                    </div>
                </div>
                <div ng-if="vm.contacts.$resolved && vm.isAddContact" class="row">
                    <div class="col-xs-3">
                        <label for="field_contactEmail" data-translate="grainAdminApp.contact.email">Email</label>
                        <input class="form-control" id="field_contactEmail" name="contactEmail"
                               ng-model="vm.selectedContact.emailEmail"
                               required>
                    </div>
                </div>
            </div>
            <button ng-if="vm.isAddContact" type="button" class="btn btn-default" data-dismiss="modal"
                    ng-click="vm.cancelAddContact()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button>

            <button ng-if="vm.isAddContact" type="button" class="btn btn-info btn-sm"
                    ng-click="vm.addContact()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.save">Save</span>
            </button>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="grainAdminApp.partner.card" for="field_card">Card</label>
            <textarea type="text" class="form-control" style="height: 150px" name="card" id="field_card"
                      ng-model="vm.partner.card"
                ></textarea>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
