<div>
    <h2 data-translate="grainAdminApp.transportationPrice.home.title">Transportation Prices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transportation-price.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="grainAdminApp.transportationPrice.home.createLabel">
                        Create new Transportation Price
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'grainAdminApp.transportationPrice.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="grainAdminApp.transportationPrice.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priceNds"><span data-translate="grainAdminApp.transportationPrice.priceNds">Price Nds</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distance"><span data-translate="grainAdminApp.transportationPrice.distance">Distance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stationFromCode"><span data-translate="grainAdminApp.transportationPrice.stationFrom">Station From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stationToCode"><span data-translate="grainAdminApp.transportationPrice.stationTo">Station To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transportationPrice in vm.transportationPrices track by transportationPrice.id">
                    <td><a ui-sref="transportation-price-detail({id:transportationPrice.id})">{{transportationPrice.id}}</a></td>
                    <td>{{transportationPrice.price}}</td>
                    <td>{{transportationPrice.priceNds}}</td>
                    <td>{{transportationPrice.distance}}</td>
                    <td>
                        <a ui-sref="station-detail({id:transportationPrice.stationFromId})">{{transportationPrice.stationFromCode}}</a>
                    </td>
                    <td>
                        <a ui-sref="station-detail({id:transportationPrice.stationToId})">{{transportationPrice.stationToCode}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transportation-price-detail({id:transportationPrice.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transportation-price.edit({id:transportationPrice.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transportation-price.delete({id:transportationPrice.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
