<form name="editForm" role="form" novalidate angular-validator angular-validator-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBidLabel" data-translate="grainAdminApp.bid.home.createOrEditLabel">Create or edit
            a Bid</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" data-translate="grainAdminApp.bid.elevator"
                                   for="field_elevator">Elevator</label>
                            <input type="text" class="form-control" id="field_elevator" name="elevator"
                                   autocomplete="off"
                                   ng-if="vm.partners.$resolved"
                                   ng-model="vm.selectedElevator"
                                   uib-typeahead="partner as partner.name for partner in vm.getPartnersSuggestions() | propsFilter: {name: $viewValue}"
                                   typeahead-editable="false"
                                   typeahead-input-formatter="vm.formatSelection($model.id, vm.partners, 'name')"
                                   validate-on="dirty"
                                   required-message="'{{'entity.validation.required' | translate}}'"
                                   required
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label data-translate="grainAdminApp.bid.agentContact" for="field_agentContact">Agent
                                Contact</label>
                            <ui-select ng-model="vm.bid.agentContactId" id="field_agentContact" name="agentContact">
                                <ui-select-match allow-clear>
                                    {{$select.selected.personName}}
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="contact.id as contact in vm.currentPartner.contacts">
                                    <div ng-bind-html="contact.personName | highlight: $select.search"></div>
                                    <small>
                                        {{contact.phone}}, {{contact.emailEmail}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" data-translate="grainAdminApp.bid.qualityParameters"
                                   for="field_qualityClass">Quality Parameters</label>
                            <select class="form-control" name="qualityClass" ng-model="vm.bid.qualityClass"
                                    id="field_qualityClass" validate-on="dirty"
                                    required-message="'{{'entity.validation.required' | translate}}'"
                                    required>
                                <option value="BKL" data-translate="grainAdminApp.QualityClass.BKL">BKL</option>
                                <option value="ONE" data-translate="grainAdminApp.QualityClass.ONE">ONE</option>
                                <option value="TWO" data-translate="grainAdminApp.QualityClass.TWO">TWO</option>
                                <option value="THREE" data-translate="grainAdminApp.QualityClass.THREE">THREE</option>
                                <option value="FOUR" data-translate="grainAdminApp.QualityClass.FOUR">FOUR</option>
                                <option value="FIVE" data-translate="grainAdminApp.QualityClass.FIVE">FIVE</option>
                                <option value="SIX" data-translate="grainAdminApp.QualityClass.SIX">SIX</option>
                                <option value="SEVEN" data-translate="grainAdminApp.QualityClass.SEVEN">SEVEN</option>
                                <option value="EIGHT" data-translate="grainAdminApp.QualityClass.EIGHT">EIGHT</option>
                                <option value="NINE" data-translate="grainAdminApp.QualityClass.NINE">NINE</option>
                                <!--<option value="TEN" data-translate="grainAdminApp.QualityClass.TEN">TEN</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" ng-repeat="qualityValue in vm.selectedQualityValues track by $index">
                            <div class="col-sm-8 form-group">
                                <select class="form-control"
                                        ng-model="qualityValue.qualityParameter"
                                        ng-options="qualityParameter as qualityParameter.name for qualityParameter in vm.qualityParameters">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <input type="text" class="form-control" name="{{'value' + $index}}"
                                       ng-disabled="!qualityValue.qualityParameter"
                                       ng-required="qualityValue.qualityParameter"
                                       validate-on="dirty"
                                       required-message="'!'"
                                       ng-model="qualityValue.value"
                                       ui-mask="{{'9?9?9?9' + (qualityValue.qualityParameter.unit ? qualityValue.qualityParameter.unit : '')}}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.passport)"
                             ngf-pattern="'image/*'" ngf-multiple>
                            <!--<label class="control-label" data-translate="grainAdminApp.bid.qualityPassport"
                                   for="field_qualityPassport">Quality Passport</label>
                            <input type="text" class="form-control" name="qualityPassport" id="field_qualityPassport"
                                   ng-model="vm.bid.qualityPassport"
                                   validate-on="dirty"
                                   required-message="'{{'entity.validation.required' | translate}}'"
                                   required/>-->

                            <label data-translate="grainAdminApp.bid.qualityPassports">Quality
                                Passports</label>
                            <div ngf-drop ngf-select ng-model="vm.files" class="drop-box"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                 accept="image/*"
                                 ngf-pattern="'image/*'"
                                 data-translate="entity.action.addimage">
                                Drop images here or click to upload
                            </div>
                            <div ngf-no-file-drop>Перетаскивание файлов не доступно в твоем браузере</div>

                            <div>
                                <img
                                    data-ng-src="{{'data:' + vm.passport.imageContentType + ';base64,' + vm.passport.image}}"
                                    style="max-height: 100px;" ng-if="vm.passport.image"/>
                            </div>

                            <!--<div class="form-group">
                                <label data-translate="grainAdminApp.bid.qualityPassports" for="field_qualityPassports">Quality Passports</label>
                                <select class="form-control" id="field_qualityPassports" multiple name="qualityPassports" ng-model="vm.bid.qualityPassports" ng-options="passport as passport.id for passport in vm.passports track by passport.id"></select>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" data-translate="grainAdminApp.bid.volume" for="field_volume">Volume</label>
                            <input type="number" class="form-control" name="volume" id="field_volume"
                                   ng-model="vm.bid.volume"
                                   validate-on="dirty"
                                   required-message="'{{'entity.validation.required' | translate}}'"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" data-translate="grainAdminApp.bid.price" for="field_price">Price</label>
                            <input type="number" class="form-control" name="price" id="field_price"
                                   ng-model="vm.bid.price"
                                   validate-on="dirty"
                                   required-message="'{{'entity.validation.required' | translate}}'"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ng-show="!vm.currentPartner.nds || vm.currentPartner.nds === 'BOTH'">
                            <label class="control-label" data-translate="grainAdminApp.bid.nds">Nds</label>
                            <label class="radio-inline">
                                <input type="radio" class="radio-button" name="nds" ng-model="vm.bid.nds"
                                       ng-value="'INCLUDED'"
                                       validate-on="dirty"
                                       required-message="'!'"
                                       required>
                                <span class="inside-label" data-translate="grainAdminApp.NDS.INCLUDED">INCLUDED</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="radio-button" name="nds" ng-model="vm.bid.nds"
                                       ng-value="'EXCLUDED'"
                                       validate-on="dirty"
                                       required-message="'!'"
                                       required>
                                <span class="inside-label" data-translate="grainAdminApp.NDS.EXCLUDED">EXCLUDED</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
